<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, libero eu consectetur aliquam, sapien mauris tincidunt mauris, mattis sagittis neque nisl quis justo. Donec at ante ac felis sollicitudin porttitor at sed elit. Nunc rhoncus ipsum laoreet lacus dictum dapibus cursus a neque. Sed non placerat sapien, vel finibus turpis. Integer posuere a eros id hendrerit. Nulla sed tempor mi, eget imperdiet dui. Sed molestie fringilla ligula nec commodo. Duis ut sollicitudin urna. Donec ornare malesuada maximus. Phasellus blandit eros sit amet libero hendrerit posuere. Vestibulum fringilla lacinia orci, eu varius odio condimentum in. Sed finibus diam non ullamcorper aliquam. Duis in viverra arcu, ut blandit mauris. Nunc lobortis purus ultrices massa ullamcorper congue. Nulla facilisi. Maecenas et cursus felis.</td>
      <td><%= button_tag "Edit", class:"btn btn-primary edit-button" %></td>
      <td><%= button_tag "Delete", class:"btn btn-primary delete-button" %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td><%= button_tag "Edit", class:"btn btn-primary edit-button" %></td>
      <td><%= button_tag "Delete", class:"btn btn-primary delete-button" %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td><%= button_tag "Edit", class:"btn btn-primary edit-button" %></td>
      <td><%= button_tag "Delete", class:"btn btn-primary delete-button" %></td>
    </tr>
  </tbody>
</table>
