  <!-- <div class="modal-container">
    <div class="modal-contents">

    </div>
  </div> -->
  <div class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= "#{@entry.category} entry" %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_for @entry, url: entries_url, method: "post" do |f| %>
          <div class="form-group">
            <%= f.text_field :title, class:"form-control", placeholder: "Title" %>
          </div>
          <div class="form-group">
            <%= f.text_area :description, class:"form-control", placeholder: "Description"  %>
          </div>
          <div class="form-group">
            <%= f.text_field :category, class:"form-control", text: "#{@entry.category}", readonly: true%>
          </div>
          <%= f.submit "Save", class:"btn btn-primary" %>

        </div>

        <% end %>

      </div>
    </div>
  </div>
