<div class="container-fluid container-map">
  <div class="row map-row">
    <div class="col-lg-6 img-top-col">
      <%= image_tag "map.png", :class => "img-top location-img" %>
    </div>
    <div class="col-lg-6 testimonial-text">
      <div class="fade-in one">
        <h2 class="location-text">Pierre Sicco</h2>
        <h2 class="location-text">5464 Dundas St. W., Suite 200</h2>
        <h2 class="location-text">Toronto, Ontario M9B 1B4</h3>
        <h2 class="location-text">Phone (416) 231-6555 Ext: 241</h2>
        <button type="button" class="btn btn-warning btn-lg location-button">Email Me</button>
      </div>
    </div>
  </div>
</div>
<div class="home-footer-testimonial">
  <p class="footer-text-testimonial">
    ©Pierre Sicco.Disclaimer/Terms of Use | Sitemap | 5464 Dundas St. W., Suite 200 Etobicoke, ON | 416-231-6555 Ext: 241
  </p>
</div>
<div class="email-container">
  <div class="email-box">
    <div class="email-input">
      <%= bootstrap_form_for @email, url: create_email_path do |f| %>
        <%= f.email_field :email_address %>
        <%= f.text_field :email_subject %>
        <%= f.text_area :email_content %>
        <%= f.submit "Send email" %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {

  var $body = $(document);
  $body.bind('scroll', function() {
      // "Disable" the horizontal scroll.
      if ($body.scrollLeft() !== 0) {
          $body.scrollLeft(0);
      }
  });

  $(".location-button").on("click", function(){
    $(".email-container").fadeIn()
    $(".email-input").on("click", function (){
      event.stopPropagation()
    });
    $(".email-box").on("click", function(){
      $(".email-container").fadeOut()
    });
  });
});
</script>
