<div class="container-fluid container-map">
  <div class="row map-row">
    <div class="col-lg-6 img-top-col">
      <%= image_tag "location.jpg", :class => "img-top location-img" %>
    </div>
    <div class="col-lg-6 testimonial-text">
      <div class="fade-in one">
        <h2 class="location-text">Pierre Sicco</h2>
        <h2 class="location-text">5464 Dundas St. W., Suite 302</h2>
        <h2 class="location-text">Toronto, Ontario M9B 1B4</h3>
        <h2 class="location-text">Phone (416) 231-6555 Ext: 241</h2>
        <button type="button" class="btn btn-warning btn-lg location-button">Email Me</button>
        <h2 class="location-text"><a href="#" class="map-button"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>Map View<h2>
      </div>
    </div>
  </div>
</div>
<div class="home-footer-testimonial">
  <p class="footer-text-testimonial">
    ©Pierre Sicco.Disclaimer/Terms of Use | Sitemap | 5464 Dundas St. W., Suite 302 Etobicoke, ON | 416-231-6555 Ext: 241
  </p>
</div>
<div class="email-container">
  <div class="email-box">
    <div class="email-input">
      <%= bootstrap_form_for @email, url: create_email_path do |f| %>
        <%= f.email_field :email_address %>
        <%= f.text_field :email_subject %>
        <%= f.text_area :email_content %>
        <%= f.submit "Send email" %>
      <% end %>
    </div>
  </div>
</div>
<div class="map-container">
  <div class="map-box">
    <div id="map">

    </div>
  </div>
</div>

<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB08GRk2ZArZa6PeELdo-DIK6b4uhEypH8&callback=initMap">
</script>

<script type="text/javascript">
$(function() {

  var $body = $(document);
  $body.bind('scroll', function() {
      // "Disable" the horizontal scroll.
      if ($body.scrollLeft() !== 0) {
          $body.scrollLeft(0);
      }
  });

  $(".location-button").on("click", function(){
    $(".email-container").fadeIn()
    $(".email-input").on("click", function (){
      event.stopPropagation()
    });
    $(".email-box").on("click", function(){
      $(".email-container").fadeOut()
    });
  });

  $(".map-button").on("click", function(){
    $(".map-container").fadeIn()
    $("#map").on("click", function (){
      event.stopPropagation()
    });
    $(".map-box").on("click", function(){
      $(".map-container").fadeOut()
    });

    var locationLat = ""
    var locationLong = ""

    function initMap() {

    }

    $.ajax({
      url: "https://maps.googleapis.com/maps/api/geocode/json?address=" + "5464 Dundas St. W, Etobicoke, ON" + "&key=AIzaSyB08GRk2ZArZa6PeELdo-DIK6b4uhEypH8",
      dataType: "JSON",
      method: "GET"
    }).done(function(data){
      locationLat = data["results"][0]["geometry"]["location"]["lat"]
      locationLong = data["results"][0]["geometry"]["location"]["lng"]
      console.log(locationLat, locationLong)
      makeMap()
    })

    function makeMap() {

    }

    function makeMap() {
      var uluru = {lat: locationLat, lng: locationLong};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: uluru
      });

      var contentString = '<p>5464 Dundas St. W., Suite 200</p>' +
                          '<p>Toronto, Ontario M9B 1B4</p>' +
                          '<p>Phone: (416) 231-6555 Ext: 241</p>' +
                          '<p>psicco@mwlc.ca</h3>'

      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
      marker.addListener('click', function(){
        infowindow.open(map, marker);
      });
     }
  });


});
</script>
