<div class="container-fluid">
  <div class="row page-banner">
    <div class="col-xs-12 text-center">
      <h1 class="banner-text">Area of Practice</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-area-practice">
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <h3 class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <h3 class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <h3 class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></h3>
      </div>
    </div>
  </div>
  <div class="row row-area-practice">
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <h3 class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <h3 class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <h3 class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></h3>
      </div>
    </div>
  </div>
  <div class="row row-area-practice">
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <h3 class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <h3 class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <h3 class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></h3>
      </div>
    </div>
  </div>
</div>
