<div class="container-fluid container-area">
  <div class="row map-row">
    <div class="col-lg-6 img-top-col">
      <%= image_tag "cherry.jpg", :class => "img-top" %>
    </div>
    <div class="col-lg-6 testimonial-text">
      <div class="fade-in one">
        <select id="name" name="name" class="form-control">
          <% @areas_of_practice.each_with_index do |f, index| %>
          <option value="<%= index + 1 %>" name="first"><%= f.title %></option>
          <% end %>
        </select>
        <% @areas_of_practice.each_with_index do |f, index| %>
          <div class="option-<%= index + 1 %> area-of-interest-text-container">
            <h1 class="area-of-practice-title"><%= f.title %></h1>
            <h3 class="area-of-practice-paragraph">
              <%= f.description %>
            </h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="home-footer-testimonial">
  <p class="footer-text-testimonial">
    ©Pierre Sicco.Disclaimer/Terms of Use | Sitemap | 5464 Dundas St. W., Suite 302 Etobicoke, ON | 416-231-6555 Ext: 241
  </p>
</div>

<script type="text/javascript">
  $(function(){
    $('#name').on("change", function(){
      $(".area-of-interest-text-container").css("display", "none")
      $(".option-"+ $(this).val()).css("display", "block")
    });
  });
</script>
