<div class="container">
  <div class="row row-area-practice">
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <p class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <p class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <p class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></p>
      </div>
    </div>
  </div>
  <div class="row row-area-practice">
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <p class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <p class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <p class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></p>
      </div>
    </div>
  </div>
  <div class="row row-area-practice">
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <p class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <p class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hovereffect">
        <%= image_tag "office_photos/_MG_7661.jpg", class: "img-responsive img-rounded" %>
        <h2 class="area-title"><span>Area of practice</span></h2>
        <p class="area-content"><span class="content-span">A brief description of what it is this area of practice is</span></p>
      </div>
    </div>
  </div>
</div>
